<h1> Show All Articles</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
   </thead>
   <tbody>
   <% @articles.each  do |article|%>
    <tr>
       <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td></td>
    </tr>
    <% end %>
   </tbody>
</table>